body {
  background-color: #212121;
<<<<<<< HEAD
  margin: 5px;
  border-radius: 3px;
}
#download-input {
  color: #9e9e9e;
  border-radius: 3px;
  font-family: sans-serif;
  border: none;
}
#download-input:hover {
  opacity: 90%;
=======
  margin: 6px;
}
#download-button {
  font-size: medium;
  background-color: #4681f4;
  color: #FAF9F6;
  border-radius: 3px;
  border: none;
}
#download-button:hover {
  opacity: 90%;
  border-radius: 3px;
  border: none;
>>>>>>> 0c62b3133a5132eb1a96ed81152b8bcb9f947273
}
